
#i{
  padding-top: 20%;
}
body, html{
	text-align: center;
	height: 80%;
	width: 100%;
	background: #DDE7F2;
	color: #7F858B;
	font-family: Segoe UI;
	font-weight: bold;
  font-size: 25px;
}
.opa{
  opacity: 42%;
}
input{
  font-size: 30px;
	width: 80%;
    text-align: center;
  border: 1px solid #000000;
  border-radius: calc(100px - 25px);
  opacity: 40%;
  background-color: #C5DBF3;
}

#insert{
    display: block;
    font-size: 1em;
    outline: none;
    border: none;
    box-shadow: 0px 4px 0px rgba(0,0,0,1);
  width: 40%;
  height: 35px;
    text-align: center;
  border-radius: calc(100px - 25px);
  opacity: 40%;
  background-color: #C5DBF3;
	background: #84AAD5;
	margin-top: 30px;
  margin-left: calc(100% - 70%);
	color: #49617B;
}
input[type=date] {
  text-align: center;
  margin: 0 auto;
  font-family: arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  padding: 0 0px;
  
  &::-webkit-datetime-edit-month-field {
    color: red;
  }
  &::-webkit-datetime-edit-day-field {
    color: white;
  }
  &::-webkit-datetime-edit-year-field {
    color: blue;
  }
  
  &::-webkit-clear-button {
    font-size: 0px;
    height: 0px;
    position: relative;
    right: 0px;
    margin-right: 0px;
  }
  &::-webkit-inner-spin-button {
    height: 0px;
  }
  &::-webkit-calendar-picker-indicator {
    font-size: 0px;
    
        
    &:hover {
      background-color: lighten(#2f2f2f,40%);
      color: darken(#fff, 10%);
      cursor: pointer;
    }
    &:active {
      color: blue;
    }
  }
}